
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["X_Axis"] = "Date";
}

@await Html.PartialAsync("_TableData")

<h4>Date Wise Photocopy Count</h4>
<table border="1" align="center" id="myDataTable" class="display">
    <tr>
        <th><b>Sno</b></th>
        <th><b>Date</b></th>
        <th><b>Photocopy Count</b></th>

    </tr>
    @{
        int i = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>@i</td>
                <td>@item.CreatedDate.Date</td>
                <td><a href="@Url.Action("_List", new { ColumnName = "CreatedDate", Value = @item.CreatedDate.Date })">@item.PhotocopyCount</a></td>
            </tr>
            i++;
        }
    }
</table>